@import 'tailwindcss';

:root {
  --background: #faf9dc;
  --primary: #254000;
  --secondary: #414141;
  --stroke: #666666;
  --logo: #75a172;
  --font-sans: 'Inter Tight', 'Inter Tight Fallback', system-ui, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-stroke: var(--stroke);
  --color-logo: var(--logo);
  --font-sans: var(--font-inter-tight);

  /*------------- Custom Colors ------------- */

  /*  Dell Colors */
  --color-dell-50: #fcffe0;
  --color-dell-100: #f6ffbb;
  --color-dell-200: #eaff80;
  --color-dell-300: #d7ff37;
  --color-dell-400: #c2ff00;
  --color-dell-500: #a1ff00;
  --color-dell-600: #7bd300;
  --color-dell-700: #5d9f00;
  --color-dell-800: #4a7b00;
  --color-dell-900: #3c6300;
  --color-dell-950: #1e3b00;

  /*  Chathams Blue Colors */
  --color-chathams-blue-50: #eff9ff;
  --color-chathams-blue-100: #def3ff;
  --color-chathams-blue-200: #b5eaff;
  --color-chathams-blue-300: #74daff;
  --color-chathams-blue-400: #2ac9ff;
  --color-chathams-blue-500: #00b3f9;
  --color-chathams-blue-600: #0090d6;
  --color-chathams-blue-700: #0071ad;
  --color-chathams-blue-800: #00608e;
  --color-chathams-blue-900: #05547c;
  --color-chathams-blue-950: #03324e;

  /*  Cod Gray Colors */
  --color-cod-gray-50: #f6f6f6;
  --color-cod-gray-100: #e7e7e7;
  --color-cod-gray-200: #d1d1d1;
  --color-cod-gray-300: #b0b0b0;
  --color-cod-gray-400: #888888;
  --color-cod-gray-500: #6d6d6d;
  --color-cod-gray-600: #5d5d5d;
  --color-cod-gray-700: #4f4f4f;
  --color-cod-gray-800: #454545;
  --color-cod-gray-900: #3d3d3d;
  --color-cod-gray-950: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #faf9dc;
    --primary: #254000;
    --secondary: #414141;
    --stroke: #666666;
    --logo: #75a172;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family:
    var(--font-sans),
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  will-change: transform;
}

@utility container {
  margin-inline: auto;
  max-width: 1200px;
}

@utility flat-btn {
  @apply relative transition-all duration-500 ease-in-out before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-4/5 before:bg-[#969696] after:absolute after:-bottom-1 after:left-0 after:z-[1] after:h-0.5 after:w-2/5 after:bg-[#242126] after:transition-all after:duration-500 after:ease-in-out hover:after:w-4/5;
}

@utility flat-btn-full {
  @apply relative transition-all duration-500 ease-in-out before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-full before:bg-[#969696] after:absolute after:-bottom-1 after:left-0 after:z-[1] after:h-0.5 after:w-2/5 after:bg-[#242126] after:transition-all after:duration-500 after:ease-in-out hover:after:w-full;
}

button {
  @apply cursor-pointer;
}

@utility flat-link {
  @apply before:bg-primary relative transition-all duration-500 ease-in-out before:absolute before:-bottom-1 before:left-0 before:h-0.5 before:w-0 before:transition-all before:duration-300 before:ease-in-out hover:before:w-full;
}
